[flake8]

exclude = 
    */migrations
    __pycache__
    .git
    .venv
    .vscode

max-line-length = 99

ignore = 
    F401  # Ignore unused imports.
    E265  # Using the *Better Comments* extension requires ignoring this check.
